################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/labs_3sem/v16/.suo
/lab1_v5/lab1_v5/.vs/lab1_v5/v16
/lab1_v5/lab1_v5/lab1_v5.sln
/lab1_v5/lab1_v5/lab1_v5.vcxproj
/lab1_v5/lab1_v5/lab1_v5.vcxproj.filters
/lab1_v5/lab1_v5/lab1_v5.vcxproj.user
/lab1_v5/lab1_v5/Debug/lab1_v5.tlog
/lab1_v5/lab1_v5/Debug
/lab1_v5/Debug
*.sln
/lab1_v5/lab1_v5.vcxproj
/lab1_v5/lab1_v5.vcxproj.filters
/lab1_v5/lab1_v5.vcxproj.user
/lab2_v5/.vs/lab2_v5/v16
/lab2_v5/lab2_v5.vcxproj
/lab2_v5/lab2_v5.vcxproj.filters
/lab2_v5/lab2_v5.vcxproj.user
/lab2_v5/Debug/lab2_v5.tlog
/lab2_v5/Debug
