################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/labs_3sem/v16/.suo
/lab1_v5/lab1_v5/.vs/lab1_v5/v16
/lab1_v5/lab1_v5/lab1_v5.sln
/lab1_v5/lab1_v5/lab1_v5.vcxproj
/lab1_v5/lab1_v5/lab1_v5.vcxproj.filters
/lab1_v5/lab1_v5/lab1_v5.vcxproj.user
/lab1_v5/lab1_v5/Debug/lab1_v5.tlog
/lab1_v5/lab1_v5/Debug
/lab1_v5/Debug
*.sln
/lab1_v5/lab1_v5.vcxproj
/lab1_v5/lab1_v5.vcxproj.filters
/lab1_v5/lab1_v5.vcxproj.user
/lab2_v5/.vs/lab2_v5/v16
/lab2_v5/lab2_v5.vcxproj
/lab2_v5/lab2_v5.vcxproj.filters
/lab2_v5/lab2_v5.vcxproj.user
/lab2_v5/Debug/lab2_v5.tlog
/lab2_v5/Debug
/lab1_v5/.vs
/lab1_v5/x64/Debug
/gt_nikomed/Debug
/gt_nikomed/gt_nikomed.vcxproj
/gt_nikomed/gt_nikomed.vcxproj.user
/gt_nikomed/pch.h
/gt_nikomed/pch.cpp
/gt_nikomed/packages.config
/lab2_v5/Nikomed_test/.vs/Nikomed_test/v16/ipch
/lab2_v5/Nikomed_test/.vs/Nikomed_test/v16
/lab2_v5/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3
/lab2_v5/Nikomed_test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3
/lab2_v5/Nikomed_test/Debug
/gt_nikomed
/lab2_v5/Nikomed_test/pch.h
/lab2_v5/Nikomed_test/pch.cpp
/lab2_v5/Nikomed_test/packages.config
/lab2_v5/Nikomed_test/Nikomed_test.vcxproj.user
/lab2_v5/Nikomed_test/Nikomed_test.vcxproj
/lab3_v10/lab3_v10.vcxproj
/lab3_v10/lab3_v10.vcxproj.filters
/lab3_v10/lab3_v10.vcxproj.user
/lab3_v10/Debug
/lab3_v10/.vs/lab3_v10/v16
/Lotto_test
/lab3_v10/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3
/lab3_v10/Lotto_test_v1/.vs/Lotto_test_v1/v16
/lab3_v10/Lotto_test_v1/Debug
/lab3_v10/Lotto_test_v1/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3
/lab3_v10/Lotto_test_v1/Lotto_test_v1.vcxproj
/lab3_v10/Lotto_test_v1/Lotto_test_v1.vcxproj.user
/lab3_v10/Lotto_test_v1/packages.config
/lab3_v10/Lotto_test_v1/pch.cpp
/lab3_v10/Lotto_test_v1/pch.h
*.vcxproj
*.filters
/lab3_v10/Lotto_v1/lab3_v10.vcxproj.user
/lab3_v10/Lotto_v1/.vs/lab3_v10/v16/ipch/AutoPCH/d447a5c1d0c388c6
/lab3_v10/Lotto_v1/.vs/lab3_v10/v16/Browse.VC.opendb
/lab3_v10/Lotto_v1/.vs/lab3_v10/v16/Browse.VC.db-wal
/lab3_v10/Lotto_v1/.vs/lab3_v10/v16/Browse.VC.db-shm
/lab3_v10/Lotto_v1/.vs/lab3_v10/v16/Browse.VC.db
/lab3_v10/Lotto_v1/x64/Debug
/lab3_v10/Lotto_v1/.vs/lab3_v10/v16
/lab3_v10/Lotto_v2/.vs/Lotto_v2/v16
/lab3_v10/Lotto_v2/Lotto_v2.vcxproj.user
/lab3_v10/Lotto_v2/Debug
/lab3_v10/Lotto_v3/.vs/Lotto_v3/v16
/lab3_v10/Lotto_v3/Debug
/lab3_v10/Lotto_v3/Lotto_v3.vcxproj.user
/lab3_v10/Lotto_test_v3/.vs/Lotto_test_v3/v16
/lab3_v10/Lotto_test_v3/Debug
/lab3_v10/Lotto_test_v3/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3
/lab3_v10/Lotto_test_v3/Lotto_test_v3.vcxproj.user
/lab3_v10/Lotto_test_v3/packages.config
/lab3_v10/Lotto_test_v3/pch.cpp
/lab3_v10/Lotto_test_v3/pch.h
/lab4_v35/.vs/lab4_v35/v16
/lab4_v35/Debug
/lab4_v35/lab4_v35.vcxproj.user
